.idea
infrastructure/inventory/cluster.yaml
infrastructure/k3s-live.yaml.j2
acmedns.json
node_modules/
cluster/jwt-login/docker/jwt-login/bin/
cluster/jwt-secret.txt
cluster/4090/docker-compose.yml
cluster/librechat/templates/secret-librechat-credentials.yaml
cluster/mcp-gateway/templates/secret.yaml
cluster/n8n/templates/secret.yaml
cluster/homebox/templates/secret.yaml
cluster/openproject/secret.yaml