{{- if .Values.doplarr.enabled -}}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: doplarr-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs-csi
{{- end }}