image:
  repository: hotio/qbittorrent
  pullPolicy: IfNotPresent
  tag: release-4.6.2

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 1000

securityContext: {}

env:
  - name: TZ
    value: "America/Los_Angeles"
  - name: PGID
    value: "1000"
  - name: PUID
    value: "1000"
  - name: UMASK
    value: "002"

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    forecastle.stakater.com/expose: "true"
    forecastle.stakater.com/icon: "https://b-rad.dev/images/icons/qBittorrent_logo.svg"
    forecastle.stakater.com/group: "Utilities"
  hosts:
    - host: qbt.b-rad.dev
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - qbt.b-rad.dev

# TODO: Provide actual resources, UI becomes unresponsive when download speeds get good
# TODO: and because of that, it may not clean up the extension when finished downloading
# TODO: or may not send the ntfy notification that the download has finished
resources: {}

# When downloading a lot, pods becomes "unreachable" due to bandwidth constraints
# Disable the probes to keep it working / running in the background without k8s
# killing it / stopping traffic flow to it
#livenessProbe:
#  httpGet:
#    path: /
#    port: http
#readinessProbe:
#  httpGet:
#    path: /
#    port: http

persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteOnce
  annotations: {}
  size: 5Gi #not really respected when using NFS...which I am
  storageClass: nfs-csi

# Additional volumes on the output Deployment definition.
volumes:
  - name: app-data
    persistentVolumeClaim:
      claimName: qbittorrent
  - name: downloads
    persistentVolumeClaim:
      claimName: emby-downloads

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: app-data
    mountPath: /config
  - name: downloads
    mountPath: /data/downloads

nodeSelector: {}

tolerations: []

affinity: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80